/*=google font=*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*== variables css==*/
:root {
    --header-height: 3rem;
    /*==colors==*/
    --title-color: #0B0A0A;
    --text-color: #403A3A;
    --text-color-light: #707070;
    --container-color: #FAFAFA;
    --container-color-alt: #F0EFEF;
    --body-color: #FCFCFC;
    /*=fonts and sizing=*/
    --body-font: "Poppins", sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.9rem;
    --small-font-size: 0.8rem;
    --smaller-font-size: 0.7rem;
    /*=font weight=*/
    --font-mediun: 500;
    --font-semibold: 600;
    /*=margins=*/
    --mb1: 0.5rem;
    --mb2: 1rem;
    --mb3: 1.5rem;
    /*=z-index=*/
    --z-tooltip: 10;
    --z-fixed: 100;
}


/*=base=*/

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


/*=class to modified to make it a4 size and print it=*/

body {
    margin: 0 0 var(--header-height) 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3,
ul,
p {
    margin: 0;
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-mediun);
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*=class css=*/

.section {
    padding: 1.5rem 0;
}

.section-title {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    font-weight: var(--font-semibold);
    text-transform: uppercase;
    letter-spacing: 0.35rem;
    text-align: center;
    margin-bottom: var(--mb3);
}

.bd-container {
    max-width: 968px;
    width: calc(100% -3rem);
    margin-left: var(--mb3);
    margin-right: var(--mb3);
}

.bd-grid {
    display: grid;
    gap: 1.5rem;
}

.l-header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background: var(--body-color);
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

/*= layout=*/

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:968px) {
    .nav_manu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        padding: 2rem 1.5rem;
        background: var(--body-color);
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
        border-radius: 1rem 1rem 0 0;
        z-index: var(--z-fixed);
        transition: 0.3s;
    }
}

.nav_logo,
.nav_toggle {
    color: var(--title-color);
    font-weight: var(--font-mediun);
}

.nav_toggle {
    font-size: 1.2rem;
    cursor: pointer;
}

.nav_item {
    text-align: center;
}

.nav_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav_link {
    display: flex;
    flex-direction: column;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    font-weight: var(--font-mediun);
}

.nav_link:hover {
    color: var(--title-color);
}

.nav_icon {
    font-size: 1.2rem;
    margin-bottom: var(--mb1);
}

/*== show menu==*/
.show-menu {
    bottom: var(--header-height);
}

.active-link {
    color: var(--title-color);
}

/*==home==*/

.home {
    position: relative;
}

.home_container {
    gap: 3rem;
}

.home_data {
    gap: 0.5rem;
    text-align: center;
}

.home_img {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    justify-self: center;
    margin-bottom: var(--mb1);
}

.home_title {
    font-size: var(--h1-font-size);
}

.home_proffession {
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb1);
}

.home_address {
    gap: 1rem;
}

.home_information {
    display: flex;
    align-items: center;
    font-size: var(--small-font-size);
}

.home_icon {
    font-size: 1.2rem;
    margin-right: 0.25rem;
}

.home_button_movil {
    display: inline-block;
    border: 2px solid var(--text-color);
    color: var(--title-color);
    padding: 1rem 2rem;
    font-weight: var(--font-mediun);
    margin-top: var(--mb3);
}

.home_button_movil:hover {
    background: var(--text-color);
    color: var(--container-color);
}

/*===social==*/
.social_container {
    grid-template-columns: max-content;
    gap: 1rem;
}

.social_link {
    display: inline-flex;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--text-color);
}

.social_link:hover {
    color: var(--title-color);
}

.social_icon {
    font-size: 1.25rem;
    margin-right: 0.25rem;
}

/*====profile====*/
.profile_description {
    text-align: center;
}

/*=education and experience=*/
.education_content,
.experience_content {
    display: flex;
}

.education_time,
.expericene_time {
    padding-right: 1rem;
}

.education_rounder,
.exprience_rounder {
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    background: var(--text-color-light);
    border-radius: 50%;
    margin-top: .25rem;
}

.education_line,
.experience_line {
    display: block;
    width: 2px;
    height: 110%;
    background: var(--text-color-light);
    transform: translate(7px, 0);
}

.education_data,
.experience_data {
    gap: 0.5rem;
}

.education_title,
.experience_title {
    font-size: var(--h3-font-size);
}

.education_studies,
.experience_company {
    font-size: var(--small-font-size);
    color: var(--title-color);
}

.education_year {
    font-size: var(--smaller-font-size);
}

/*===skillls===*/

.skills_content {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
}

.skills_name {
    display: flex;
    align-items: center;
    margin-bottom: var(--mb3);
}

.skills_circle {
    display: inline-block;
    width: 5px;
    height: 5px;
    background: var(--text-color);
    border-radius: 50%;
    margin-right: .75rem;
}

/*=====ceritificate and projects ====*/

.certificate_title,
.project-title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb1);
}

.interest_container {
    grid-template-columns: repeat(3, 1fr);
    margin-top: var(--mb2);
}

.interest_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interest_icon {
    font-size: 1.5rem;
    color: var(--text-color-light);
    margin-bottom: 0.25rem;
}

/*====== dark theme =====*/
body.dark-theme {
    --title-color: #F2F2F2;
    --text-color: #BFBFBF;
    --container-color: #212121;
    --container-color-alt: #181616;
    --body-color: #2B2B2B;
}

.change-theme {
    position: absolute;
    right: 0;
    top: 2.2rem;
    display: flex;
    color: var(--text-color);
    font-size: 1.2rem;
    cursor: pointer;
}

.change-theme:hover {
    color: var(--title-color);
}

/*======= genete download botton=======*/
.generate-pdf {
    display: none;
    position: absolute;
    top: 2.2rem;
    left: 0;
    font-size: 1.2rem;
    color: var(--text-color);
    cursor: pointer;
}

/*========== sclae cv=======*/

body.scale-cv {
    --h1-font-size: .938rem;
    --h2-font-size: .938rem;
    --h3-font-size: .875rem;
    --normal-font-size: 0.813rem;
    --small-font-size: 0.75rem;
    --smaller-font-size: 0.688rem;
}

.scale-cv .change-theme,
.scale-cv .generate-pdf {
    display: none;
}

.scale-cv .bd-container {
    max-width: 600px;
}

.scale-cv .section {
    padding: 1.5rem 0 .80rem;
}


.scale-cv .section-title {
    margin-bottom: 0.75rem;
}

.scale-cv .resume_left,
.scale-cv .resume_right {
    padding: 0 1rem;
}

.scale-cv .home_img {
    width: 90px;
    height: 90px;
}

.scale-cv .home_container {
    gap: 1.5rem;
}

.scale-cv .home_data {
    gap: .25rem;
}

.scale-cv .home_address,
.scale-cv .social_container {
    gap: .75rem;
}

.scale-cv .home_icon,
.scale-cv .social_icon {
    font-size: 1rem;
}

.scale-cv .education_container,
.scale-cv .expericene_container,
.scale-cv .certificate_container {
    gap: 1rem;
}

.scale-cv .education_time,
.scale-cv .expericene_time {
    padding-right: 0.5rem;
}

.scale-cv .education_rounder,
.scale-cv .exprience_rounder {
    width: 11px;
    height: 11px;
    margin-top: 0.22rem;
}

.scale-cv .education_line,
.scale-cv .experience_line {
    width: 1px;
    height: 110%;
    transform: translate(5px, 0);
}

.scale-cv .education_data,
.scale-cv .experience_data {
    gap: 0.25rem;
}

.scale-cv .skills_name {
    margin-bottom: var(--mb1);
}




/*===media queries for small devices ===*/
@media screen and (max-width: 620px) {
    .nav_list {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem, .5rem;
    }
    .home_button_movil{
        display: none;
    }
}

/*==== modifies class for large devices ===*/

@media screen and (min-width: 968px) {
    body {
        margin: 3rem 0;
    }

    .bd-container {
        margin-right: auto;
        margin-left: auto;
    }

    .l-header {
        display: none;
    }

    .resume {
        display: grid;
        grid-template-columns: .5fr 1fr;
        background: var(--container-color);
        box-shadow: 0 0 18px rgba(0, 0, 0, 0.15), ;
    }

    .resume_left {
        background: var(--container-color-alt);
    }

    .resume_left,
    .resume_right {
        padding: 0 1.5rem;
    }

    .generate-pdf {
        display: inline-block;
    }

    .section-title,
    .profile_description {
        text-align: initial;
    }

    .home_container {
        gap: 1.5rem;
    }

    .home_button_movil {
        display: none;
    }

    .language_content {
        grid-template-columns: repeat(3, max-content);
        column-gap: 3rem;
    }

    .interest_container {
        grid-template-columns: repeat(3, max-content);
        column-gap: 3rem;
    }
}